<div class="container py-5">
  <div class="row">
    <div class="col-lg-7 mx-auto">
      <div class="bg-white rounded-lg shadow-sm p-5">
        <!-- Credit card form content -->
        <div class="tab-content">
          <!-- credit card info-->
          <div id="nav-tab-card" class="tab-pane fade show active">
            <form role="form">
                <h4>Dados do cliente</h4>
                <div class="form-group">
                    <label for="username"  >Nome</label>
                    <input type="text" [(ngModel)]="username" name="username" placeholder="" required class="form-control">
                    <label for="email">Email</label>
                    <input type="text" [(ngModel)]="email" name="email" placeholder="email" required class="form-control">
                    <label for="cpf">CPF</label>
                    <input type="text" [(ngModel)]="cpf" name="cpf" placeholder="" required class="form-control">
                    <label for="telefone">Telefone</label>
                    <input type="text" [(ngModel)]="telefone" name="telefone" placeholder="" required class="form-control">
                    <label for="birth">Data de Nascimento</label>
                    <input type="text" [(ngModel)]="birth" name="birth" placeholder="" required class="form-control">
                  </div>
                  <h4>Endereço</h4>
                  <div class="form-group">
                      <label for="username">Rua</label>
                      <input type="text"  [(ngModel)]="street" name="street" placeholder="" required class="form-control">
                      <label for="username">Número</label>
                      <input type="text"  [(ngModel)]="number" name="number" placeholder="" required class="form-control">
                      <label for="username">Complemento</label>
                      <input type="text"  [(ngModel)]="complement" name="complement" placeholder="" required class="form-control">
                      <label for="username">Bairro</label>
                      <input type="text"  [(ngModel)]="district" name="district" placeholder="" required class="form-control">
                      <label for="username">Cidade</label>
                      <input type="text"  [(ngModel)]="city" name="city" placeholder="" required class="form-control">
                      <label for="username">Estado</label>
                      <input type="text"  [(ngModel)]="state" name="state" placeholder="" required class="form-control">
                      <label for="username">CEP</label>
                      <input type="text"  [(ngModel)]="postal_code" name="postal_code" placeholder="" required class="form-control">
                    </div>
                    <h4>Dados do cartão</h4>
              <!-- <div class="form-group">
                <label for="username">Nome</label>
                <input type="text" name="username" required class="form-control" placeholder="Como está no cartão">
              </div> -->
              <div class="form-group">
                <label for="cardNumber">Número do cartão</label>
                <div class="input-group">
                  <input type="number"  [(ngModel)]="numCard" name="numCard" placeholder="4444 4444 4444 4444" class="form-control" required>
                  <div class="input-group-append">
                    <span class="input-group-text text-muted">
                        <i class="fa fa-cc-visa mx-1"></i>
                        <i class="fa fa-cc-amex mx-1"></i>
                        <i class="fa fa-cc-mastercard mx-1"></i>
                    </span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-8">
                  <div class="form-group">
                    <label><span class="hidden-xs">Data de Validade</span></label>
                    <div class="input-group">
                      <input type="number" placeholder="MM" [(ngModel)]="mesValidadeCard" name="mesValidadeCard" class="form-control" required>
                      <input type="number" placeholder="YY" [(ngModel)]="anoValidadeCard" name="anoValidadeCard" class="form-control" required>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group mb-4">
                    <label data-toggle="tooltip" title="Three-digits code on the back of your card">Código
                                                <i class="fa fa-question-circle"></i>
                                            </label>
                    <input type="text" [(ngModel)]="codSegCard" name="codSegCard" required class="form-control" placeholder="123">
                  </div>
                </div>
              </div>
              <button type="button" (click)="onSubmit()" class="subscribe btn btn-primary btn-block rounded-pill shadow-sm"> Confirm  </button>
            </form>
          </div>
          <!-- End -->
        </div>
        <!-- End -->

      </div>
    </div>
  </div>
</div>
